{% extends "blog/base.html" %}
{% load static wagtailcore_tags wagtailimages_tags blogapp_tags el_pagination_tags wagtailroutablepage_tags %}
<link href="{% static 'blog/css/bootstrap.min.css' %}" rel="stylesheet">

{% block content %}
    <h1>{{ block_page.title }}</h1>

    <div class="intro">{{ blog_page.description }}</div>

    <form role="search" method="get" class="form-search" action="{% routablepageurl blog_page "post_search" %}" method="get">
        <div class="input-group">
            <input type="text" class="form-control search-query" name="q" placeholder="Search&hellip;" title="Search for:" />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-default" name="submit" id="searchsubmit" value="Search">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </form>
    <p>Search term: {{ search_term }}</p>
    {% if search_term %}
        <header class="page-header">
            <h1 class="page-title">Search Results for <span>{{ search_type }}: {{ search_term }}</span></h1>
        </header>
    {% endif %}

    {% paginate 5 posts %}
    {% for post in posts %}
      <div class="card mb-4">

        {% if post.header_image %}
            {% image post.header_image original as header_image %}
            <a href="{% post_date_url post blog_page %}">
              <img src="{{ header_image.url }}" class="card-img-top" ></img>
            </a>
        {% endif %}

        <div class="card-body">
          <h2 class="card-title">
            <a href="{% post_date_url post blog_page %}">{{ post.title }}</a>
          </h2>
          <a href="{% post_date_url post blog_page %}" class="btn btn-primary">Read More &rarr;</a>

        </div>
        <div class="card-footer text-muted">
            Posted on {{ post.date }}
        </div>
      </div>

    {% endfor %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
      {% show_pages %}
    </ul>

{% endblock %}
