{% load wagtailimages_tags static %}

<link rel="stylesheet" href="../../static/blog/css/bootstrap.css">

<h1 class="text-uppercase mb-0">{{ page.title }}</h1>
<hr class="star-light">
<h2 class="font-weight-light mb-0">
    {{ page.subtitle }}
</h2>

{{ page.portfolio }}
