{% load wagtailcore_tags wagtailroutablepage_tags blogapp_tags %}

{% block content %}
    <h1>{{ post.title }}</h1>

    <h2>{{ post.date }}</h2>

    {{ post.body|richtext }}

    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

    {% if page.tags.all.count %}
        <div class="tags">
            <h3>Tags</h3>
            {% for tag in page.tags.all %}
                <a href="{% routablepageurl blog_page "post_by_tag" tag.slug %}">{{ tag }}</a>
            {% endfor %}
        </div>
    {% endif %}

    {% with categories=page.categories.all %}
        {% if categories %}
            <h3>Categories</h3>
            <ul>
                {% for category in categories %}
                    <li style="display: inline">
                        <a href="{% routablepageurl blog_page "post_by_category" category.slug %}">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    {% show_comments %}

{% endblock %}