{% load wagtailcore_tags wagtailtrans_tags %}

{# This shows the language selector #}
{% get_translations page homepage_fallback=False include_self=True as translations %}

{% for language, page in translations.items %}
  <li>
      <a href="{{ page.full_url }}">
          <span>{{ language.code }}</span>
      </a>
  </li>
{% endfor %}

 <div class="article__body">
     <h2 class="article__title">{{ page.title }}</h2>
     {{ page.body|richtext }}
 </div>