{% load wagtailcore_tags wagtail_modeltranslation %}

{% get_available_languages_wmt as languages %}
{% for language in languages %}
  <li>
      <a href="{% change_lang language page %}">
          <span>{{ language }}</span>
      </a>
  </li>
{% endfor %}

 <div class="article__body">
     <h2 class="article__title">{{ page.title }}</h2>
     {{ page.body|richtext }}
 </div>