{% load wagtailcore_tags wagtailimages_tags %}

<div class="col-lg-6">
  {% if self.heading %}
    <h2>{{ self.heading }}</h2>
  {% endif %}
  {% if self.intro %}
    {{ self.intro }}
  {% endif %}
  {% if self.image %}
    {% image self.image width-300 class="img-responsive" %}
  {% endif %}
</div>